body {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
}


/*******************************************************************************************/

#nav {
    margin: 0 0 0 0;
    color: lightgray;
    background-color: black;
    display: flex;
    flex-direction: row;
}

#nav-touxiang {
    margin: 0 0 0 0;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 60px;
    height: 60px;
}

#nav-content {
    margin: 0 0 0 0;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid lightgray;
    height: 60px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#nav-content-list1 {
    margin: 0 0 0 0;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid lightgray;
    height: 30px;
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#nav-content-list2 {
    margin: 0 0 0 0;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid lightgray;
    height: 30px;
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: hidden;
}

#touxiang {
    /*解决头像img标签撑开div的问题*/
    max-width: 100%;
}


/*******************************************************************************************/

.nav-content-list1-item {
    margin: 0 0 0 0;
    width: 200px;
    min-width: 100px;
    height: 30px;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*超出部分文字隐藏并用省略号表示*/
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}

.nav-content-list1-item-else {
    margin: 0 0 0 0;
    height: 30px;
    min-width: 100px;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid rgba(100, 100, 100, 0.5);
    /* border-bottom: 1px solid rgba(100, 100, 100, 0.5); */
    color: black;
    background-color: white;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    /*超出部分文字隐藏并用省略号表示*/
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}

.nav-content-list2-item {
    margin: 0 0 0 0;
    width: 200px;
    min-width: 100px;
    height: 30px;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid rgba(100, 100, 100, 0.5);
    /* border-bottom: 1px solid rgba(100, 100, 100, 0.5); */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /*超出部分文字隐藏并用省略号表示*/
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}

.nav-content-list2-item-else {
    margin: 0 0 0 0;
    min-width: 100px;
    height: 30px;
    /*使用内边框*/
    box-sizing: border-box;
    border-left: 1px solid rgba(100, 100, 100, 0.5);
    /* border-bottom: 1px solid rgba(100, 100, 100, 0.5); */
    background-color: black;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    /*超出部分文字隐藏并用省略号表示*/
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}


/*******************************************************************************************/


/* 链接 */

.a-item {
    color: white;
    display: flex;
    text-decoration: none;
    padding-left: 0px;
    align-items: center;
    white-space: nowrap;
}

.a-item:hover {
    color: red;
    text-decoration: none;
}


/*******************************************************************************************/


/* 选中 */

.nav-content-list2-item:hover {
    color: white;
    background-color: green;
}


/*******************************************************************************************/


/* 目录 */

.div-class-2021-1222-2059 {
    margin: 0 0 0 0;
    background-color: black;
    display: flex;
    height: 30px;
    min-height: 30px;
    /* flex-grow: 1; */
}

.div-class-2021-1222-2059:hover {
    background-color: green;
}

.a-class-2021-1222-2104 {
    color: white;
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    align-items: center;
    white-space: nowrap;
}

.a-class-2021-1222-2104:hover {
    color: red;
    text-decoration: none;
}


/*******************************************************************************************/

#content {
    margin: 0 0 0 0;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#content-left {
    margin: 0 0 0 0;
    width: 400px;
    /* border: 5px solid gainsboro; */
    border: 5px solid darkcyan;
    border-top: 10px solid darkcyan;
    border-bottom: 10px solid darkcyan;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vH - 60px);
    scrollbar-width: 10px;
}

#content-middle {
    margin: 0 0 0 0;
    height: calc(100vh - 60px);
    border: 5px solid darkcyan;
    border-top: 10px solid darkcyan;
    border-bottom: 10px solid darkcyan;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#content-right {
    margin: 0 0 0 0;
    width: 200px;
    border: 5px solid darkcyan;
    border-top: 10px solid darkcyan;
    border-bottom: 10px solid darkcyan;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: row;
}


/*******************************************************************************************/


/* 滚动条 */

#nav-content-list2::-webkit-scrollbar {
    height: 5px;
}

#nav-content-list2::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background: green;
}

#nav-content-list2::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: pink;
}